headline {
  display: block;
  color: #000000;
  font-size: 16px;  
  font-family: Georgia,'Times New Roman',Times,serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

paragraph {
  display: block;
  color: #000000;
  font-size: 12px;
  font-family: Georgia,'Times New Roman',Times,serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

break {
  font-size: 7;
  display:block;
}

a {
  color: #000000;
  display: inline;
}

a:hover {
  color: #000000;
  display: inline;
}
