
/* Login ---*/
.login h1 {
  font-size: 250%;
  margin-bottom: 20px;
  margin-top: 0;
  color: #000; 
  font-weight: normal;
  text-transform: uppercase;
  
}

.login_form fieldset,
.login fieldset {
  padding: 15px 0 0;
}

.login_form fieldset p,
.login fieldset p {
  margin: 0 0 5px;
}

.login_form label,
.login label {
  display: block;
  font-weight: normal;
  margin-bottom: 3px;
}

.login-fields {
  margin: 0 0 10px;
}

.login_form .inputbox,
.login-fields .required {
  margin-left: 10px;
  width: 150px;
}

.login_form .remember .inputbox {
  width: 20px;
}

.login_form .button,
.login button {
}

/* Register ---*/
.form-register fieldset {
  padding: 0 0 10px;
}

.form-register p {
  margin: 0 0 5px;
}

.form-register p.form-des {
  margin: 15px 0;
}

.form-register label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}

.form-register .inputbox {
  margin-left: 10px;
  width: 200px;
}

.form-register .button {
  margin-left: 140px;
}

.registration fieldset dt {
  margin-right: 5px;
}

/* User ---*/
.user-details {
  padding: 10px 0;
}

.user-details p {
  margin: 0 0 5px;
}

.user-details label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}

.user-details .inputbox {
  margin-left: 10px;
  width: 200px;
}

.user-details .button {
  margin-left: 140px;
}

.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}

.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}

.user-details .user_name span {
  font-weight: bold;
  padding-left: 10px;
}

/* Reset ---*/
.reset h1, .remind h1 {
  font-size: 250%;
  margin-bottom: 20px;
  font-weight: normal; 
  text-transform: uppercase;
  color: #000;
}

.reset .form-validate p,
.remind .form-validate p {
  background: url(../images/icon-info.png) no-repeat 10px 10px #edf8fc;
  border: 1px solid #bae5f3;
  border-radius: 3px;
  margin-top: 5px;
  padding: 10px 10px 10px 35px;
  text-shadow: 1px 1px 0 #FFF;
}

.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}

.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}

/* Profile ---*/

.profile h1,
.profile-edit h1 {
  font-size: 250%;
  font-weight: normal; 
  text-transform: uppercase;
  margin: 0 0 20px 0;
  color: #000;
}

.profile fieldset,
.profile-edit fieldset {
  border: 1px solid #CCC;
  margin-bottom: 20px;
  padding: 20px 20px 30px;
}

.profile dl,
.profile-edit dl {
  margin: 0;
}

.profile dl dt,
.profile-edit dl dt {
  padding-right: 10px;
}

.profile dl dd,
.profile-edit dl dd {
  border-bottom: 1px solid #e5e5e5;
}

.profile legend,
.profile-edit legend {
  background: #FFF;
  display: block;
  padding: 0 5px;
}

.profile a {
  background: url(../images/icon-edit.png) no-repeat 0px 2px;
  display: inline-block;
  padding: 2px 0 2px 20px;
}

.profile-edit a {
	display: inline-block;
	background: none;
}
/* Search ---*/
form#searchForm,
form#finder-search {
  padding: 15px 0;
}

.searchintro {
  padding: 10px 0;
  width: 100%;
}

.results h4 {
  margin: 15px 0 0;
}

.results p {
  margin: 0 0 10px;
}

.search fieldset {
  border: 1px solid #F0F0F0;
  margin: 25px 0 15px;
  padding: 10px;
}

.search fieldset legend {
  font-size: 100%;
}

.search .phrases-box {
  margin: 0 0 10px;
}

.search .word button {
  margin-left: 5px;
}

.search .word .inputbox {
  vertical-align: top;
}

.search .word label {
  vertical-align: top;
  display: inline-block;
  margin-top: 4px;
}

/* Search results */
dl.search-results dt.result-title {
  font-size: 110%;
}

dl.search-results dt.result-title a {
  color: #666;
}

dl.search-results dt.result-title a:hover,
dl.search-results dt.result-title a:focus,
dl.search-results dt.result-title a:active {
  color: #de3068;
}

dl.search-results dd {
  display: block;
  padding: 0 0 5px;
}

dl.search-results dd.result-created {
  border-bottom: 1px solid #EEE;
  color: #999;
  font-size: 92%;
  margin-bottom: 10px;
}

#advanced-search ul li {
	background: none;
	padding-left: 0px;
	margin-bottom: 5px;
}

/* Smart Search ---*/
dl.search-results {
  border-top: 2px solid #eee;
  padding-top: 10px;
}

dl.search-results dt.result-title {
  font-size: 125%;
  margin-bottom: 5px;
}

dl.search-results dt.result-title a {
  color: #666;
}

dl.search-results dt.result-title a:hover,
dl.search-results dt.result-title a:focus,
dl.search-results dt.result-title a:active {
  color: #de3068;
}

dl.search-results dd.result-text {
  margin: 0 0 5px;
}

#advanced-search-toggle {
  background: #e5e6e7;
  color: #353637;
  clear: right;
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px;
}

#advanced-search-toggle:hover {
  background: #996633;
  color: #fff;
}

dl.search-results dd.result-url {
  border-bottom: 1px solid #eee;
  color: #996633;
  margin: 0 0 20px;
  padding-bottom: 10px;
}

div.advanced-search-tip {
  background: #fffaf3;
  border: 1px solid #fddaad;
  margin-bottom: 20px;
  padding: 0 10px;
}

div.advanced-search-tip p {
  margin: 5px 0;
}

#search-results .search-pagination .pagination {
	float: right;
	display: inline-block;
}

#finder-filter-window {
  background: #fafafa;
  border: 1px solid #ccc;
  width: auto !important;
}

#finder-filter-window #finder-filter-select-list {
	margin: 0;
}

#finder-filter-window #finder-filter-select-list li {
  background: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 5px 20px;
}

#finder-filter-window #finder-filter-select-list li:last-child {
	border: 0;
}

#finder-filter-window #finder-filter-select-list li label {
  display: block;
  float: left;
  font-weight: normal;
  padding-right: 10px;
  width: 155px;
  margin-top: 5px;
}

/* Contact ---*/
.jicons-icons {
	float: left; 
	width: 16px;
	height: 16px;
	margin-right: 3px;
}

.contact h2 {
	font-weight: normal;
	text-transform: uppercase;
	color: #000;
}

.contact h3 {
	font-weight: normal;
	margin: 0px 0px 15px 0px;
}

#component-contact address {
  font-style: normal;
}

.contact_email {
  margin: 0 0 10px;
}

.contact_email div {
  padding: 5px 0;
}

.contact_email label {
  display: block;
  float: left;
  font-weight: normal;
  width: 17em;
}

.contact_email-copy {
  margin: 15px 0;
}

.contact-email-copy label {
  display: inline;
}

.contact-links ul li{
	background: url("../images/arround.png") no-repeat 0px center;
	line-height: 160%;
	display: block;
}

.contact-form label {
	display: inline-block;
	font-weight: normal;
	width: 130px;
	margin-top: 3px;
}

.contact-form dt { margin-right: 0px; }

.contact-form label#jform_contact_email_copy-lbl { margin-top: 0px; }

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
	width: 250px;
}
/* Tooltips --- */
.tip-wrap {
  background: #fff6df;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,.4);
  max-width: 300px;
  z-index: 999;
}

.tip-title {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  padding: 5px 10px;
}

.tip-text {
  font-size: 100%;
  margin: 0;
  padding: 5px 10px;
}

.hasTip img {
  border: none;
  margin: 0 5px 0 0;
}

.items-row .item  {
	border-bottom: solid 1px #ddd;
	margin-bottom: 10px; 
	padding-bottom: 10px;
}

/*
 * item (addition)
 */
 
#system .item > .icon { 
	margin: 8px 5px 0 2px;
	float: right;
}

#system .item > .edit a { vertical-align: text-top; }


/*
 * items (addition)
 */
 
#system .items.leading {
	padding-bottom: 12px;
	margin-bottom: 18px;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}

/*
 * item-list
 */

#system .item-list {
	margin-top: 10px;
	border-top: 1px solid #c8c8c8;
	overflow: hidden;
}

/*
 * filter
 */

#system .filter {
	margin: 0 0 10px 0;
	overflow: hidden;
}

#system .filter > div {
	float: left;
	margin: 0 10px 0 0;
}

/*
 * form submission
 */

#system form.submission div { margin: 0; }

#system form.submission fieldset {
	margin-bottom: 30px;
	padding-top: 15px;
}

#system form.submission fieldset > div {
	margin-bottom: 10px;
	padding: 2px 0 2px 0;
	overflow: hidden;
}
#system form.submission div > * { vertical-align: middle; }
#system form.submission div > label:first-child {
	display: block;
	width: 150px;
	float: left;
}

#system form.submission div > input[type='text'],
#system form.submission div > input[type='password'] {
	padding: 3px;
	width: 250px;
}
#system form.submission div > select {
	padding: 3px;
	width: 262px;
}

#system form.submission div > textarea { width: 255px; }

#system form.submission small {
	display: block;
	margin: -25px 0 25px 0;
}

#system form.submission div.submit {
	margin-top: -20px;
	text-align: center;
}

#system form.submission div > .calendar { margin-left: 5px; }
#system form.submission #metadesc { height: 100px; }
#system form.submission #metakey { height: 60px; }

/* validation */
#system .invalid { border-color: #ff0000; }
#system label.invalid { color: #ff0000; }

.width15 { width: 15%; }
.width18 { width: 18%; }
.width20 { width: 20%; }
.width23 { width: 23%; }
.width25 { width: 25%; }
.width33 { width: 33%; }
.width34 { width: 34%; }
.width35 { width: 35%; }
.width40 { width: 40%; }
.width46 { width: 46%; }
.width50 { width: 50%; }
.width54 { width: 54%; }
.width65 { width: 65%; }
.width75 { width: 75%; }
.width100 { width: 100%; }

#system .items > .width20 { float: left; width: 18%; margin-right: 6px; }
#system .items > .width25 { float: left; width: 23%; margin-right: 6px;}
#system .items > .width33 { float: left; width: 32%; margin-right: 6px;}
#system .items > .width50 { float: left; width: 48%; margin-right: 6px;}


.dropdown .caret {
	margin-top: 8px;
	margin-left: 2px;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.dropdown-menu.pull-right {
	right: 0;
	left: auto;
}
.dropdown-menu .divider {
	*width: 100%;
	height: 1px;
	margin: 8px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #fff;
}
.dropdown-menu a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #333;
	white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	text-decoration: none;
	color: #fff;
	background-color: #08c;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top,#08c,#0077b3);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
	background-image: -webkit-linear-gradient(top,#08c,#0077b3);
	background-image: -o-linear-gradient(top,#08c,#0077b3);
	background-image: linear-gradient(to bottom,#08c,#0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0076b2', GradientType=0);
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
	color: #fff;
	text-decoration: none;
	outline: 0;
	background-color: #08c;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top,#08c,#0077b3);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
	background-image: -webkit-linear-gradient(top,#08c,#0077b3);
	background-image: -o-linear-gradient(top,#08c,#0077b3);
	background-image: linear-gradient(to bottom,#08c,#0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0076b2', GradientType=0);
}
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
	color: #999;
}
.dropdown-menu .disabled > a:hover {
	text-decoration: none;
	background-color: transparent;
	cursor: default;
}
.open {
	*z-index: 1000;
}
.open > .dropdown-menu {
	display: block;
}
.pull-right > .dropdown-menu {
	right: 0;
	left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px solid #000;
	content: "\2191";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 1px;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover .dropdown-menu {
	display: block;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
	border-left-color: #fff;
}
.dropdown .dropdown-menu .nav-header {
	padding-left: 20px;
	padding-right: 20px;
}
.typeahead {
	margin-top: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-moz-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}
.fade.in {
	opacity: 1;
}
.collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	overflow: visible \9;
	-webkit-transition: height .35s ease;
	-moz-transition: height .35s ease;
	-o-transition: height .35s ease;
	transition: height .35s ease;
}
.collapse.in {
	height: auto;
}
.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	color: #000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}
.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 14px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	*line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color: #e6e6e6;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #bbb;
	*border: 0;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
	color: #333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}
.btn:active,
.btn.active {
	background-color: #cccccc \9;
}
.btn:first-child {
	*margin-left: 0;
}
.btn:hover {
	color: #333;
	text-decoration: none;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn.active,
.btn:active {
	background-color: #e6e6e6;
	background-color: #d9d9d9 \9;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
	cursor: default;
	background-color: #e6e6e6;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-large {
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.btn-large [class^="icon-"] {
	margin-top: 2px;
}
.btn-small {
	padding: 3px 9px;
	font-size: 11px;
	line-height: 16px;
}
.btn-small [class^="icon-"] {
	margin-top: 0;
}
.btn-mini {
	padding: 2px 6px;
	font-size: 10px;
	line-height: 14px;
}
.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.btn-block + .btn-block {
	margin-top: 5px;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
	color: rgba(255,255,255,0.75);
}
.btn {
	border-color: #c5c5c5;
	border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}

.btn-link,
.btn-link:active {
	background-color: transparent;
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-link {
	border-color: transparent;
	cursor: pointer;
	color: #08c;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.btn-link:hover {
	color: #005580;
	text-decoration: underline;
	background-color: transparent;
}
.btn-group {
	position: relative;
	font-size: 0;
	white-space: nowrap;
	*margin-left: .3em;
}
.btn-group:first-child {
	*margin-left: 0;
}
.btn-group + .btn-group {
	margin-left: 5px;
}
.btn-toolbar {
	font-size: 0;
	margin-top: 9px;
	margin-bottom: 9px;
}
.btn-toolbar .btn-group {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.btn-toolbar .btn + .btn,
.btn-toolbar .btn-group + .btn,
.btn-toolbar .btn + .btn-group {
	margin-left: 5px;
}
.btn-group > .btn {
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.btn-group > .btn + .btn {
	margin-left: -1px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu {
	font-size: 13px;
}
.btn-group > .btn-mini {
	font-size: 11px;
}
.btn-group > .btn-small {
	font-size: 12px;
}
.btn-group > .btn-large {
	font-size: 16px;
}
.btn-group > .btn:first-child {
	margin-left: 0;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}
.btn-group > .btn.large:first-child {
	margin-left: 0;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
	z-index: 2;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
	outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
	padding-left: 8px;
	padding-right: 8px;
	-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	*padding-top: 5px;
	*padding-bottom: 5px;
}
.btn-group > .btn-mini + .dropdown-toggle {
	padding-left: 5px;
	padding-right: 5px;
	*padding-top: 2px;
	*padding-bottom: 2px;
}
.btn-group > .btn-small + .dropdown-toggle {
	*padding-top: 5px;
	*padding-bottom: 4px;
}
.btn-group > .btn-large + .dropdown-toggle {
	padding-left: 12px;
	padding-right: 12px;
	*padding-top: 7px;
	*padding-bottom: 7px;
}
.btn-group.open .dropdown-toggle {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}


.accordion {
	margin-bottom: 18px;
}
.accordion-group {
	margin-bottom: 2px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.accordion-heading {
	border-bottom: 0;
}
.accordion-heading .accordion-toggle {
	display: block;
	padding: 8px 15px;
}
.accordion-toggle {
	cursor: pointer;
}
.accordion-inner {
	padding: 9px 15px;
	border-top: 1px solid #e5e5e5;
}
.carousel {
	position: relative;
	margin-bottom: 18px;
	line-height: 1;
}
.carousel-inner {
	overflow: hidden;
	width: 100%;
	position: relative;
}
.carousel .item {
	display: none;
	position: relative;
	-webkit-transition: .6s ease-in-out left;
	-moz-transition: .6s ease-in-out left;
	-o-transition: .6s ease-in-out left;
	transition: .6s ease-in-out left;
}
.carousel .item > img {
	display: block;
	line-height: 1;
}
.carousel .active,
.carousel .next,
.carousel .prev {
	display: block;
}
.carousel .active {
	left: 0;
}
.carousel .next,
.carousel .prev {
	position: absolute;
	top: 0;
	width: 100%;
}
.carousel .next {
	left: 100%;
}
.carousel .prev {
	left: -100%;
}
.carousel .next.left,
.carousel .prev.right {
	left: 0;
}
.carousel .active.left {
	left: -100%;
}
.carousel .active.right {
	left: 100%;
}
.carousel-control {
	position: absolute;
	top: 40%;
	left: 15px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #fff;
	text-align: center;
	background: #222;
	border: 3px solid #fff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.carousel-control.right {
	left: auto;
	right: 15px;
}
.carousel-control:hover {
	color: #fff;
	text-decoration: none;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.carousel-caption {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	background: #333;
	background: rgba(0,0,0,0.75);
}
.carousel-caption h4,
.carousel-caption p {
	color: #fff;
	line-height: 18px;
}
.carousel-caption h4 {
	margin: 0 0 5px;
}
.carousel-caption p {
	margin-bottom: 0;
}
.hero-unit {
	padding: 60px;
	margin-bottom: 30px;
	background-color: #eee;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.hero-unit h1 {
	margin-bottom: 0;
	font-size: 60px;
	line-height: 1;
	color: inherit;
	letter-spacing: -1px;
}
.hero-unit p {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	color: inherit;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.invisible {
	visibility: hidden;
}


@font-face {
	font-family: 'IcoMoon';
	src: url('../../../media/jui/fonts/IcoMoon.eot');
	src: url('../../../media/jui/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'), url('../../../media/jui/fonts/IcoMoon.svg#IcoMoon') format('svg'), url('../../../media/jui/fonts/IcoMoon.woff') format('woff'), url('../../../media/jui/fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
.icon-home:before {
	content: "\21";
}
.icon-user:before {
	content: "\22";
}
.icon-checkedout:before,
.icon-lock:before,
.icon-locked:before {
	content: "\23";
}
.icon-comment:before,
.icon-comments:before {
	content: "\24";
}
.icon-comments-2:before {
	content: "\25";
}
.icon-share-alt:before,
.icon-out:before {
	content: "\26";
}
.icon-share:before,
.icon-redo:before {
	content: "\27";
}
.icon-undo:before {
	content: "\28";
}
.icon-file-add:before {
	content: "\29";
}
.icon-new:before,
.icon-plus:before {
	content: "\2a";
}
.icon-apply:before,
.icon-edit:before,
.icon-pencil:before {
	content: "\2b";
}
.icon-pencil-2:before {
	content: "\2c";
}
.icon-folder:before {
	content: "\2d";
}
.icon-folder-2:before {
	content: "\2e";
}
.icon-picture:before {
	content: "\2f";
}
.icon-pictures:before {
	content: "\30";
}
.icon-list:before,
.icon-list-view:before {
	content: "\31";
}
.icon-power-cord:before {
	content: "\32";
}
.icon-cube:before {
	content: "\33";
}
.icon-puzzle:before {
	content: "\34";
}
.icon-flag:before {
	content: "\35";
}
.icon-tools:before {
	content: "\36";
}
.icon-cogs:before {
	content: "\37";
}
.icon-options:before,
.icon-cog:before {
	content: "\38";
}
.icon-equalizer:before {
	content: "\39";
}
.icon-wrench:before {
	content: "\3a";
}
.icon-brush:before {
	content: "\3b";
}
.icon-eye-open:before,
.icon-eye:before {
	content: "\3c";
}
.icon-checkbox-unchecked:before {
	content: "\3d";
}
.icon-checkin:before,
.icon-checkbox:before {
	content: "\3e";
}
.icon-checkbox-partial:before {
	content: "\3f";
}
.icon-asterisk:before,
.icon-star-empty:before {
	content: "\40";
}
.icon-star-2:before {
	content: "\41";
}
.icon-featured:before,
.icon-star:before {
	content: "\42";
}
.icon-calendar:before {
	content: "\43";
}
.icon-calendar-2:before {
	content: "\44";
}
.icon-question-sign:before,
.icon-help:before {
	content: "\45";
}
.icon-support:before {
	content: "\46";
}
.icon-warning:before {
	content: "\48";
}
.icon-publish:before,
.icon-save:before,
.icon-ok:before,
.icon-checkmark:before {
	content: "\47";
}
.icon-unpublish:before,
.icon-trash:before,
.icon-cancel:before {
	content: "\4a";
}
.icon-eye-close:before,
.icon-minus:before {
	content: "\4b";
}
.icon-purge:before,
.icon-trash:before {
	content: "\4c";
}
.icon-envelope:before,
.icon-mail:before {
	content: "\4d";
}
.icon-mail-2:before {
	content: "\4e";
}
.icon-unarchive:before,
.icon-drawer:before {
	content: "\4f";
}
.icon-archive:before,
.icon-drawer-2:before {
	content: "\50";
}
.icon-box-add:before {
	content: "\51";
}
.icon-box-remove:before {
	content: "\52";
}
.icon-search:before {
	content: "\53";
}
.icon-filter:before {
	content: "\54";
}
.icon-camera:before {
	content: "\55";
}
.icon-play:before {
	content: "\56";
}
.icon-music:before {
	content: "\57";
}
.icon-grid-view:before {
	content: "\58";
}
.icon-grid-view-2:before {
	content: "\59";
}
.icon-menu:before {
	content: "\5a";
}
.icon-thumbs-up:before {
	content: "\5b";
}
.icon-thumbs-down:before {
	content: "\5c";
}
.icon-delete:before,
.icon-remove:before,
.icon-cancel-2:before {
	content: "\49";
}
.icon-save-new:before,
.icon-plus-2:before {
	content: "\5d";
}
.icon-ban-circle:before,
.icon-minus-sign:before,
.icon-minus-2:before {
	content: "\5e";
}
.icon-key:before {
	content: "\5f";
}
.icon-quote:before {
	content: "\60";
}
.icon-quote-2:before {
	content: "\61";
}
.icon-database:before {
	content: "\62";
}
.icon-location:before {
	content: "\63";
}
.icon-zoom-in:before {
	content: "\64";
}
.icon-zoom-out:before {
	content: "\65";
}
.icon-expand:before {
	content: "\66";
}
.icon-contract:before {
	content: "\67";
}
.icon-expand-2:before {
	content: "\68";
}
.icon-contract-2:before {
	content: "\69";
}
.icon-health:before {
	content: "\6a";
}
.icon-wand:before {
	content: "\6b";
}
.icon-unblock:before,
.icon-refresh:before {
	content: "\6c";
}
.icon-vcard:before {
	content: "\6d";
}
.icon-clock:before {
	content: "\6e";
}
.icon-compass:before {
	content: "\6f";
}
.icon-address:before {
	content: "\70";
}
.icon-feed:before {
	content: "\71";
}
.icon-flag-2:before {
	content: "\72";
}
.icon-pin:before {
	content: "\73";
}
.icon-lamp:before {
	content: "\74";
}
.icon-chart:before {
	content: "\75";
}
.icon-bars:before {
	content: "\76";
}
.icon-pie:before {
	content: "\77";
}
.icon-dashboard:before {
	content: "\78";
}
.icon-lightning:before {
	content: "\79";
}
.icon-move:before {
	content: "\7a";
}
.icon-next:before {
	content: "\7b";
}
.icon-previous:before {
	content: "\7c";
}
.icon-first:before {
	content: "\7d";
}
.icon-last:before {
	content: "\e000";
}
.icon-loop:before {
	content: "\e001";
}
.icon-shuffle:before {
	content: "\e002";
}
.icon-arrow-first:before {
	content: "\e003";
}
.icon-arrow-last:before {
	content: "\e004";
}
.icon-chevron-up:before,
.icon-uparrow:before,
.icon-arrow-up:before {
	content: "\e005";
}
.icon-chevron-right:before,
.icon-arrow-right:before {
	content: "\e006";
}
.icon-chevron-down:before,
.icon-downarrow:before,
.icon-arrow-down:before {
	content: "\e007";
}
.icon-chevron-left:before,
.icon-arrow-left:before {
	content: "\e008";
}
.icon-arrow-up-2:before {
	content: "\e009";
}
.icon-arrow-right-2:before {
	content: "\e00a";
}
.icon-download:before,
.icon-arrow-down-2:before {
	content: "\e00b";
}
.icon-arrow-left-2:before {
	content: "\e00c";
}
.icon-play-2:before {
	content: "\e00d";
}
.icon-menu-2:before {
	content: "\e00e";
}
.icon-arrow-up-3:before {
	content: "\e00f";
}
.icon-arrow-right-3:before {
	content: "\e010";
}
.icon-arrow-down-3:before {
	content: "\e011";
}
.icon-arrow-left-3:before {
	content: "\e012";
}
.icon-print:before,
.icon-printer:before {
	content: "\e013";
}
.icon-color-palette:before {
	content: "\e014";
}
.icon-camera-2:before {
	content: "\e015";
}
.icon-file:before {
	content: "\e016";
}
.icon-file-remove:before {
	content: "\e017";
}
.icon-save-copy:before,
.icon-copy:before {
	content: "\e018";
}
.icon-cart:before {
	content: "\e019";
}
.icon-basket:before {
	content: "\e01a";
}
.icon-broadcast:before {
	content: "\e01b";
}
.icon-screen:before {
	content: "\e01c";
}
.icon-tablet:before {
	content: "\e01d";
}
.icon-mobile:before {
	content: "\e01e";
}
.icon-users:before {
	content: "\e01f";
}
.icon-briefcase:before {
	content: "\e020";
}
.icon-download:before {
	content: "\e021";
}
.icon-upload:before {
	content: "\e022";
}
.icon-bookmark:before {
	content: "\e023";
}
.icon-out-2:before {
	content: "\e024";
}
