
a { color: #cc0000; text-decoration: none; }

.mcolor, .moduletablewhite h3, .moduletablecolor, .flex-direction-nav li a { background-color: #cc0000; }

/* Main navigation ----------------------------------------------------------------------------------------------- */

#nav ul li.active a, #nav ul li a:hover, #nav ul li:hover a, #nav ul li.sfHover a { color: #cc0000; }

#nav-mobile { background-color: #cc0000; }
#showwrap { background-color: #D9D9D9 ;}
#maintopwrap { background-color: #A3292D ; color:#f1f1f1}
/* Top -------------------------------------------------------------------------------------------------------- */

#top .moduletable a:hover { color: #cc0000; }


/* Footer -------------------------------------------------------------------------------------------------------- */

#footer .moduletable li a:hover { color: #cc0000; }
#footer .moduletable a, #footer .moduletable p a { color: #cc0000; }


/* Copyright -------------------------------------------------------------------------------------------------------- */

#copyright ul li.active a, #copyright ul li a:hover, #copyright ul li:hover a, #copyright ul li.sfHover a { color: #cc0000;  }

/* Article Title */

.blog h2.title a:hover, .blog-featured h2.title a:hover, .item h2.title a:hover, .item-page h2.title a:hover { color: #cc0000; text-shadow: 0 0 1px #cc0000; }


/* Archived Articles */

.archive h2 a:hover { color: #cc0000; } 


/* News Feeds in a Category */

.newsfeed-category h2 a:hover { color: #cc0000; }


/* Single News Feed */

.newsfeed.redirect-ltr h2 a:hover { color: #cc0000; }


/* Single Contact */

.contact-category h2 a:hover { color: #cc0000; }



/* Joomla! Modules CSS -------------------------------------------------------------------------------------------------------- */


/* Moduletable */

.moduletable h3, .moduletable_menu h3, .moduletable_text h3 { background-color: #cc0000; }


/* Button, Input */

button, .button, input.button { background-color: #cc0000; }


/* Search */

.moduletable .search h1 { background-color: #cc0000; }
